<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='project.css') }}">
</head>
<body>
    <h1>Project Details</h1>

    <div class="project-list">
        <div class="project-details">
            <h2>Project 1</h2>
            <p>Description of Project 1</p>
        </div>
        <div class="project-details">
            <h2>Project 2</h2>
            <p>Description of Project 2</p>
        </div>
        <div class="project-details">
            <h2>Project 3</h2>
            <p>Description of Project 3</p>
        </div>
        <div class="project-details">
            <h2>Project 4</h2>
            <p>Description of Project 4</p>
        </div>
    </div>

</body>
</html>
